body {
    text-align: center
}

input,
button {
    font-size: 100%;
    margin: 3%
}

span {
    margin: 10% auto;
    font-size: 250%
}

#bmi {
    color: red;
    font-size: 300%;
    margin-left: 2%
}

@media only screen and (max-width: 400px) {
    .flex {
        display: flex;
        flex-direction: column
    }
}